/* hero background */
.hero-banner {
background-image: url("../images/pokemon/pokemon-header.jpg");
background-position: top; /* position background image */
background-size: cover; /* cover means image will cover the entire container */
height: 370px; /* height of hero banner */
position: relative;
}

h2 {
    /* limit the length of the box containing the text */
    width: 100%;
}

h2 .card-header {
    width: 100%;
}

.collapsible {
    color: #eeeeee;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #adadad;
}

.content {
    display: none;
    overflow: hidden;
    padding: 0 18px;
}

.content p {
    cursor: pointer;
}

.wrapper { 
    width: 100%;
    overflow-y:scroll; 
    position:relative;
    height: 200px;
}

/* increase the size of the sprite in source #pokemon-sprite by 50% */
#pokemon-sprite {
    width: 25%;
}

/* media query for mobile devices */
@media only screen and (max-width: 600px) {
    .hero-banner {
        height: 300px;
    }
}
